<!DOCTYPE html>
<html>


  <title>Umbreon.xyz</title>
<link rel="shortcut icon" type="image/jpg" href="imgs/hehe.png"/>
  <section class= "mysection">
    <img id='img1'src="static/imgs/pixel-art.png">
    <img id="img2"src="static/imgs/pixel-art.png">
    <h1>Umbreon.xyz</h1>
    <h3>Made by HYP3RKATANA on replit</h3>
  
  </section>
  <button onclick = "goNow0();" id="btn1">Random</button>
  <button onclick="goNow2();" id=btn2>LoginWIP</button>
   <button id="btn3"onclick="goNow1();">Memes</button>
  <div id="div1">
    <h1>hehe</h1>
    <p>This website is soon going to be published at Umbreon.xyz. I have created a Page to rickroll people, a page to randomly select a game to play, a login page to redirect to work in project things. I will be updating all of these pages frequently (especially the R.N.G. page) and will be creating more. You can currently find me on replit at <a href="https://replit.com/@HYP3RKATANA">HYP3RKATANA</a> and on github as <a href="https://github.com/THEXTREMESPECTR">THEXTREMESPECTR</a>. </p>
    <img id="img3" src="static/imgs/neon-pixel.gif">
  </div>
  <button id=btn4 onclick="goNow3();">My Accounts</button>
  <button id="btn5" onclick="goNow4()">hehePi</button>
  <div id="div2">
  <img src="static/imgs/cafe.gif" id="img4">
  </div>
  <link rel=stylesheet href= static/style.css>
  <script src= static/script.js></script>
    </html>